*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: normal;
    src: local('Trebuchet MS'), url('font/trebuc.woff'), format('woff');
    }
    

    @font-face {
    font-family: 'Trebuchet MS Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Trebuchet MS Italic'), url('font/Trebuchet-MS-Italic.woff'), format('woff');
    }

:root{
    --white : #fff;
    --black : #000;
    --cardBorder : #ffffff87;
    --cardBackground : #ffffff1a;
    --btnBg : #ffffff00;
    --btnFocus : #ffffffb9;

    --facebook : #1771e6;
    --twitter : #1c99e6;
    --instagram : #cb2770;
    --whatsapp : #2fe664;
    --telegram : #0081c2;
    --github : rgb(88, 101, 242);
}

body{
    font-size: 1.6rem;
    font-family: 'Trebuchet MS', Arial, sans-serif;
     width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}



.wrapper2{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color:#000;
    background-size: cover;
    background-image: url(./empire-state-building-manhattan-new-york-city-skyscraper-3840x2160-1343.jpg);

}

.share-card
{
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: var(--white);
    background: var(--cardBackground);
    border: 0.2rem solid var(--cardBorder);
    border-radius: 1.5rem;
    padding: 2rem 5rem;
    backdrop-filter: blur(1.5rem);
    position: relative;
    z-index: 10;
}

.share-card img{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    border: 2px solid var(--cardBorder);
    object-fit: cover;
}

.name{
    font-size: 3.2rem;
}

.role{
    font-size: 0.8rem;
    color: #ffffff85;
}

.button-group{
    display: flex;
    gap: 1rem;
}

.button-group button{
    width: 15rem;
    color: var(--btnFocus);;
    background: var(--btnBg);
    text-transform: capitalize;
    border: 0.2rem solid var(--btnFocus);
    border-radius: 0.4rem;
    padding: 0.9rem 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.share-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    /* items ke beech ka gap  */
}

.share-card .button-group button:hover{
    background: var(--btnFocus);
    color: #131313;
}


/* share modal */
.modal{
     width: 55rem;
     position: fixed;
     top: 50%;
     left: 50%;
     translate: -50% -50%;
     color: var(--white);
     background: #00000088;
     padding: 2rem 2.5rem;
     border: 0.2rem solid #ffffff59;
     border-radius: 2rem;
     backdrop-filter: blur(1rem);
     scale: 0;
     transition: all 0.5s ease-in-out;
     z-index: 30;
     /* card ka z index 10 kiya tha na  */
    /* ye overlap karega to z index 30 
    circle ka to card ke bhi beeche rakhna hai  */
}
.modal.active{
    scale: 1;
}



.modal-header{
    display: flex;
    justify-content: space-between;
    /* taaki extreme ends pahuch jaye title aur  cross icon  */
    align-items: center;
    padding-bottom: 1.2rem;
    border-bottom: 0.1rem solid #ffffff88;
    margin-bottom: 2.5rem;

}

.modal-title{
    font-size: 3.2rem;
}
.profile-modal-close{
    font-size: 3rem;
}



.modal h3{
    font-size: 1.9rem;
    margin-top:2rem;
    margin-bottom: 2rem;
}

.social-media{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}


 .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 0.1rem solid #ffffff88;
    transition: all 0.5s;
    margin: 1rem 0 2.5rem;
    width: 4rem;
    height: 4rem;
    padding: auto 5px;
    margin: 1rem;
}

.soical-media .icon i{
    font-size: 2.7rem;
}

#facebook-icon {
    
    color: var(--facebook);
    border: 1px solid var(--facebook);
    
}

#facebook-icon:hover{
    color: var(--white);
    background: var(--facebook);
}

#twitter-icon {
    color: var(--twitter);
    border: 1px solid var(--twitter);
}

#twitter-icon:hover{
    color: var(--white);
    background: var(--twitter);
}

#instagram-icon {
    color: var(--instagram);
    border: 1px solid var(--instagram);
}

#instagram-icon:hover{
    color: var(--white);
    background: var(--instagram);
}

#whatsapp-icon {
    color: var(--whatsapp);
    border: 1px solid var(--whatsapp);
}

#whatsapp-icon:hover{
    color: var(--white);
    background: var(--whatsapp);
}

#telegram-icon {
    color: var(--telegram);
    border: 1px solid var(--telegram);
}

#telegram-icon:hover{
    color: var(--white);
    background: var(--telegram);
}

#github-icon {
    color: var(--github);
    border: 1px solid var(--github);

}

#github-icon:hover{
    color: var(--white);
    background: var(--github);
}

.overlay{
    position: fixed;
    left: 0; 
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #5f5f5f83;
    transition: 0.5s ease-in-out;
    opacity: 0;
    pointer-events: none;
    z-index: 20;
}

.overlay.active{
    opacity: 1;
    pointer-events: initial;
}



.modal-body-header{
    display: flex;
    justify-content: space-between;
    /* taaki extreme ends pahuch jaye title aur  cross icon  */
    align-items: center;
    padding-bottom: 1.2rem;
    border-bottom: 0.1rem solid #ffffff88;
    margin-bottom: 2.5rem;
}


